@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== ABOUT ===== */
.about {
  position: relative;

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -33px;
    bottom: 0;
    left: -33px;
    z-index: -1;
    background: $color-blue;
    @include media-breakpoint-up(sm) {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .section__content {
    padding-top: 1px;
    padding-bottom: 7px;
    position: relative;
    z-index: 1;
    text-align: center;

    p:last-of-type {margin-bottom: 0;}

    .btn {
      margin-top: 17px;
    }
  }
}