@use '../base/var' as *;
@use '../base/breakpoints' as *;


/* ===== CTA ===== */
.cta {
  padding: 60px 0;
  @include media-breakpoint-up(md) {
    padding: 100px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 90px 0;
  }

  &__content {
    padding: 32px 24px;
    background: $color-neutral;
    border-radius: 24px;
    @include media-breakpoint-up(md) {
      padding: 48px 60px;
      text-align: center;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    > .btn {
      margin-top: 25px;
      font-size: 18px;
      line-height: 28px;
    }

    .form {
      &-control {
        padding: 10px;
        font-size: 14px;
        line-height: 14px;

      }

      &-group {
        margin-top: 28px;
        @include media-breakpoint-up(md) {
          margin-top: 24px;
          display: flex;
          gap: 10px;
        }

        .btn {
          padding-right: 20px;
          padding-left: 20px;
          @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 7px;
          }
        }
      }
    }
  }

  &__heading {
    color: $color-dark;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    em {
      color: $color-blue;
      font-style: normal;
    }
  }

  // GRAY
  &__gray {
    background-color: $color-neutral;
  }

  // BLUE
  &__blue {
    background-color: $color-blue;
    color: white;

    .cta__heading {
      color: inherit;
    }

    .btn {
      color: $color-blue;
      background-color: $color-white;

      &:hover, &:focus {
        color: $color-blue;
        background-color: $color-white;
      }
    }
  }

  // ADVANCED
  &--advanced {
    position: relative;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;
    }
    @include media-breakpoint-up(lg) {
      align-items: center;
      flex-direction: row-reverse;
      gap: 0;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 70px;
      padding-bottom: 100px;
    }

    .cta {
      &__content {
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 20px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 1.5;
        }
        @include media-breakpoint-up(md) {
          padding: 24px 24px;
          text-align: left;
        }
        @include media-breakpoint-up(lg) {
          padding: 44px 30px;
          flex: 1;
        }

        .form-group {
          @include media-breakpoint-down(lg) {
            @include media-breakpoint-up(md) {
              width: 51.4%;
            }
          }
        }
      }

      &__heading {
        @include media-breakpoint-down(lg) {
          font-size: 28px;
          line-height: 36px;
        }
        @include media-breakpoint-down(md) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      &__gray {
        @include media-breakpoint-up(lg) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &__blue {
        @include media-breakpoint-up(lg) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        @include media-breakpoint-down(lg) {
          @include media-breakpoint-up(md) {
            padding-right: 50%;
          }
        }

        .btn {
          @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }

      &__map {
        width: 309px;
        height: 343px;
        border: 1px solid $color-lavender;
        border-radius: 20px;
        margin: 0;
        overflow: hidden;
        @include media-breakpoint-down(lg) {
          position: absolute;
          bottom: 70px;
          right: 10px;
          z-index: 10;
        }
        @include media-breakpoint-down(md) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}
