@use '../base/var' as *;
@use '../base/breakpoints' as *;


/* ===== FAQ ===== */
.faq {
  margin-bottom: 106px;
  position: relative;
  @include media-breakpoint-up(xl) {
    margin-bottom: 240px;
    padding: 0 50px;
  }

  &__anchor {
    width: 0;
    height: 0;
    position: absolute;
    top: -84px;
    left: 0;
    @include media-breakpoint-up(xl) {
      top: -152px;
    }
  }

  &__header {
    margin-bottom: 26px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 73px;
      font-size: 18px;
      line-height: 40px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 116px;
    }

    p:last-child {margin-bottom: 0;}
  }

  &__heading {
    margin-bottom: 14px;
    @include media-breakpoint-up(xl) {
      line-height: 76px;
    }
  }

  &__list {
    margin: 0 10px;
    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  &__entry {
    padding: 32px 0;
    position: relative;
    @include media-breakpoint-up(xl) {
      padding: 12px 0;
    }

    &::after {
      @include pseudo;
      height: 1px;
      border-bottom: .5px solid rgba($color-green, .5);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.visible {
      .faq__reply {display: block;}
    }

    &.open {
      .faq__question::after {background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.82 14.184V6h-1.636v8.184H6v1.636h8.184V24h1.636v-8.18H24v-1.636h-8.18Z' fill='%2399FF50'/%3E%3C/svg%3E%0A");transform: rotate(45deg);}
      .faq__reply {
        //height: calc-size(auto, size);
        //max-height: attr(data-max) + 'px';
      }
    }
  }

  &__entry + &__entry {
    @include media-breakpoint-up(xl) {
      margin-top: 40px;
    }
  }

  &__question {
    padding-right: 70px;
    margin-bottom: 0;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .01em;
    text-transform: uppercase;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      padding-right: 100px;
    }
    @include media-breakpoint-up(xl) {
      padding-right: 340px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
    }

    &::after {
      @include pseudo;
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.82 14.184V6h-1.636v8.184H6v1.636h8.184V24h1.636v-8.18H24v-1.636h-8.18Z' fill='%23fff'/%3E%3C/svg%3E") right top no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
      transition: transform .3s ease;
      @include media-breakpoint-up(xl) {
        width: 34px;
        height: 34px;
      }
    }
  }

  &__reply {
    max-height: 0;
    padding-right: 70px;
    overflow: hidden;
    font-weight: 300;
    text-transform: uppercase;
    transition: max-height .4s ease;
    @include media-breakpoint-up(md) {
      padding-right: 100px;
    }
    @include media-breakpoint-up(xl) {
      padding-right: 340px;
      font-size: 20px;
      line-height: 30px;
    }

    p:last-of-type {margin-bottom: 0;}
  }

  &__space {
    padding-top: 30px;
    @include media-breakpoint-up(xl) {
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }
}
