@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== PAGE-HEADER ===== */
.page-header {
  h1 {
    margin-bottom: 20px;
    text-align: left;
  }

  &--smaller {
    h1 {
      @include media-breakpoint-up(md) {
        @include media-breakpoint-down(xl) {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: -.005em;
        }
      }
    }
  }
}