@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== POST-HEADER ===== */
.post-header {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include media-breakpoint-up(md) {
    padding: 80px 0 40px;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
  @include media-breakpoint-up(xl) {
    gap: 100px;
  }

  &__back {
    margin-bottom: 20px;
  }

  &__data {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    display: none;
    gap: 24px;
    cursor: default;
    @include media-breakpoint-up(md) {
      display: flex;
    }

    em {
      display: flex;
      align-items: center;
      gap: 8px;
      font-style: normal;

      svg {
        display: block;
      }
    }
  }

  h2, .h2 {
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 12px;
    }
  }

  &__content {
    color: $color-charcoal-gray;

    *:last-child {margin-bottom: 0 !important;}
  }

  &__image {
    width: 100%;
    display: block;
    @include media-breakpoint-up(lg) {
      flex: 0 0 340px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      flex: 0 0 472px;
    }

    img {
      max-width: 100%;
      border-radius: 24px;
      margin: 0 auto;
      display: block;
      @include user-select;
      @include user-drag;
      @include media-breakpoint-down(xss) {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-up(sm) {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-up(md) {
        border-radius: 24px;
      }
    }
  }

  &.help-header {
    @include media-breakpoint-down(xl) {
      padding-top: 80px;
      padding-bottom: 20px;
      justify-content: center;
      text-align: center;

      .post-header__data {
        margin-top: 20px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        order: 10;
      }

      .post-header__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}