@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== POST ===== */
.post {
  padding: 60px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include media-breakpoint-up(md) {
    padding: 40px 0;
    gap: 60px;
    @include media-breakpoint-down(xl) {
      & ~ .articles:not(.articles--compact) {
        padding-top: 36px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
  }

  &__meta {
    @include media-breakpoint-up(lg) {
      margin-top: -1px;
      flex: 0 0 340px;
      order: 2;
    }

    @include media-breakpoint-down(md) {
      .meta-item.meta-item--social {
        display: none;
      }
      .meta-item.meta-item--links {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    color: $color-gray;
    @include media-breakpoint-up(lg) {
      flex: 0 0 560px;
      order: 1;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 720px;
    }

    section + section {
      margin-top: 60px;
    }

    picture {
      max-width: 100%;

      img {
        max-width: 100%;
        display: block;
        object-fit: cover;
        @include user-select;
        @include user-drag;
      }
    }

    > *:last-child {
      margin-bottom: 0;
      > *:last-child {margin-bottom: 0;}
    }
  }

  &__full {
    width: 100%;
    order: 5;
    @include media-breakpoint-up(md) {
      margin-top: 20px;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      gap: 60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 60px;
      gap: 118px;
    }

    .post__image {
      @include media-breakpoint-up(lg) {
        margin: 0 0 0 -16px;
        flex: 0 0 420px;
      }
      @include media-breakpoint-up(xl) {
        margin: 0 0 0 -60px;
        flex: 0 0 532px;

        img {
          object-position: top left;
        }
      }
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    margin: 0 0 40px;
    display: block;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      object-fit: cover;
      @include user-select;
      @include user-drag;
    }
  }

  &__footer {
    width: 100%;
    order: 10;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-top: 40px;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 16px;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 39px;
      @include media-breakpoint-up(md) {
        margin-top: 32px;
        margin-bottom: 31px;

        & + .meta-item--social {
          strong {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }

    .meta-item--social {
      margin-bottom: 0;
    }
  }

  .help-header ~ & .post__footer {
    @include media-breakpoint-up(md) {
      padding-top: 0;

      &::before {
        @include pseudo;
        height: 1px;
        position: absolute;
        top: -45px;
        right: 0;
        left: 0;
        background: $color-mist;
      }

      .helpful {
        margin-top: 16px;
        @include media-breakpoint-down(lg) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      padding-top: 32px;
      display: flex;

      &::before {
        width: 560px;
        right: auto;
        top: 0;
      }

      .helpful {
        margin-top: 28px;
      }

      .questions {
        min-width: 340px;
        margin-top: -80px;
        margin-left: auto;
      }
    }
    @include media-breakpoint-up(xl) {
      &::before {
        width: 720px;
      }
    }
  }
}