@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== SECTION ===== */
.section {
  padding: 33px 0;

  &__header {
    padding: 0 28px;
    margin-bottom: 53px;
    @include media-breakpoint-down(xss) {
      padding-right: 14px;
      padding-left: 14px;
    }

    h2 {
      margin-bottom: 5px;
    }
  }

  &__content {
    padding: 0 28px;
    @include media-breakpoint-down(xss) {
      padding-right: 14px;
      padding-left: 14px;
    }
  }
}