@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== STATS ===== */
.stats {
  padding: 40px 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include media-breakpoint-up(lg) {
    padding-right: 20px;
    padding-left: 20px;
  }

  li {
    width: 226px;
    padding-left: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include media-breakpoint-down(md) {
      &:first-child {
        padding-left: 60px;
      }
    }
    @include media-breakpoint-up(md) {
      padding-left: 60px;
      &:nth-child(2) {
        padding-left: 62px;

        svg {
          left: -3px;
        }
      }
      &:nth-child(3) {
        svg {
          left: -5px;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      padding-left: 61px;
      &:nth-child(2) {
        padding-left: 64px;

        svg {
          left: 0;
        }
      }
      &:nth-child(3) {
        padding-left: 63px;

        svg {
          left: -2px;
        }
      }
    }

    svg {
      height: 48px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    em {
      display: block;
      font-size: 28px;
      line-height: 36px;
      font-style: normal;
      letter-spacing: -.005em;
      color: $color-dark;

      @include media-breakpoint-up(md) {
        font-weight: normal;
        font-size: 36px;
        line-height: 48px;
      }
    }

    span {
      margin-right: -5px;
      display: block;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &.has-animation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
    @include media-breakpoint-up(lg) {
      transition-delay: 1.4s;
    }

    &.animated {
      opacity: 1;
      transform: translateY(0);
    }
  }
}