@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== TESTIMONIALS ===== */
.testimonials {
  padding: 60px 0;
  position: relative;
  @include media-breakpoint-up(md) {
    padding: 100px 0;
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  .head {
    @include media-breakpoint-up(md) {
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    @include media-breakpoint-up(xl) {
      max-width: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }

  &.has-animation {
    .head {
      opacity: 0;
      transform: translateY(30px);
      transition: transform 1s ease, opacity 1s ease;
    }

    .testimonial {
      opacity: 0;
      transform: translateY(30px);
      transition: transform .8s .4s ease, opacity .8s .4s ease;

      &:nth-child(2) {
        transform: translateY(10px);
        transition-delay: .7s;
      }

      &:nth-child(3) {
        transition-delay: 1s;
      }
    }

    &.animated {
      .head, .testimonial {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.testimonial {
  padding: 24px;
  margin: 0;
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px $color-mist;
  flex-shrink: 0;
  color: $color-dark;
  @include media-breakpoint-up(md) {
    padding: 32px;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: calc(33.3% - 13px);
  }

  .stars {
    margin-bottom: 16px;
  }

  blockquote {
    margin: 0;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  figcaption {
    margin-top: 20px;
    display: block;
    color: $color-gray;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}