@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== BUTTONS ===== */
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  background: $color-blue no-repeat center center;
  transition: color $effect, box-shadow $effect, background-color $effect;
  outline: none;
  cursor: pointer;

  @media (hover: hover) {
    &:not([disabled]) {
      &:hover, &:focus {
        background-color: $color-navy;
      }
    }
  }

  &[disabled] {
    opacity: .3;
    cursor: default;
  }

  &--large {
    font-size: 18px;
    line-height: 28px;
  }

  &--outline {
    color: $color-charcoal-blue;
    background: $color-white;
    box-shadow: 0 0 0 1px inset $color-charcoal-light;

    @media (hover: hover) {
      &:not([disabled]) {
        &:hover, &:focus {
          box-shadow: 0 0 0 1px inset $color-charcoal-gray;
          background-color: $color-white;
        }
      }
    }
  }

  &--white {
    color: $color-blue;
    background-color: $color-white;

    @media (hover: hover) {
      &:not([disabled]) {
        &:hover, &:focus {
          color: $color-blue;
          background-color: $color-white;
        }
      }
    }
  }
}