@use '../var' as *;
@use '../breakpoints' as *;

/* ===== CONTAINER ===== */
.container {
  max-width: 572px;
  padding: 0 16px;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    max-width: 752px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 992px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1320px;
    padding: 0 20px;
  }
}