@use '../var' as *;
@use '../breakpoints' as *;

/* ===== features ===== */
.features {
  padding: 40px 0 54px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(xl) {
    padding: 124px 0 140px;
  }

  &::before {
    @include pseudo;
    width: 100vw;
    margin-left: -50vw;
    background: $color-green;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .section__header {
    margin-bottom: 30px;
    font-size: 18px;
    @include media-breakpoint-up(xl) {
      max-width: 960px;
      margin-bottom: 38px;
      font-size: 30px;
    }

    h2 {
      @include media-breakpoint-up(xl) {
        margin-bottom: 22px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 54px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-up(xl) {
      gap: 70px;
    }

    h3 {
      min-width: 174px;
      margin: -68px 0 43px -44px;
      padding: 12px;
      background: $color-medium-green;
      text-align: center;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(lg) {
        margin-left: -24px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: -84px;
        padding: 9px 23px;
      }
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        flex-grow: 1;
      }
    }

    .btn {
      margin-top: 20px;
      @include media-breakpoint-up(xl) {
        margin-top: 30px;
      }
    }
  }

  &__entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-up(lg) {
      flex: 1;
    }
  }

  &__image {
    margin: 0 -28px;
    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
