@use '../base/var' as *;
@use '../base/breakpoints' as *;


/* ===== FORMS ===== */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  &-group {
    width: 100%;
    position: relative;

    &::after {
      @include clearfix;
    }
  }

  &-half {
    flex-basis: calc(50% - 8px)
  }

  &-success-message {
    padding-left: 20px;
    margin: 4px 0 0;
    display: block;
    position: relative;
    font: 12px/1.5 $font-secondary;
    letter-spacing: -.01em;
    color: $color-green;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%2338a169' stroke-linecap='round' stroke-linejoin='round' d='M8 14.667c3.666 0 6.666-3 6.666-6.666s-3-6.667-6.666-6.667-6.667 3-6.667 6.667 3 6.666 6.667 6.666'/%3E%3Cpath stroke='%2338a169' stroke-linecap='round' stroke-linejoin='round' d='m5.167 8 1.887 1.887 3.78-3.774'/%3E%3C/svg%3E") no-repeat 1px 0;
    cursor: default;
    @include user-select;
    @include user-drag;
  }

  &-error-message {
    padding-left: 20px;
    margin: 4px 0 0;
    display: block;
    position: relative;
    font: 12px/1.5 $font-secondary;
    letter-spacing: -.01em;
    color: $color-red;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23e53e3e' stroke-linecap='round' stroke-linejoin='round' d='M8 5.167v3.5M14.054 5.72v4.56c0 .747-.4 1.44-1.047 1.82l-3.96 2.287a2.11 2.11 0 0 1-2.1 0L2.987 12.1a2.1 2.1 0 0 1-1.047-1.82V5.72c0-.747.4-1.44 1.047-1.82l3.96-2.287a2.11 2.11 0 0 1 2.1 0l3.96 2.287a2.11 2.11 0 0 1 1.047 1.82M8 10.8v.067'/%3E%3C/svg%3E") no-repeat 1px 0;
    cursor: default;
    @include user-select;
    @include user-drag;
  }

  &-control {
    width: 100%;
    padding: 8px 11px;
    border: 1px solid $color-charcoal-light;
    border-radius: 8px;
    font: 16px/22px $font-secondary;
    color: $color-dark;
    background: $color-white;
    outline: none;
    transition: border-color $effect;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    &::placeholder {
      color: $color-charcoal-gray;
      opacity: 1;
      transition: opacity $effect;
      @include user-select;
    }

    &:focus {
      border-color: $color-blue;

      &::placeholder {
        opacity: 0;
      }
    }

    &[disabled] {
      border-color: $color-mist;
      background: $color-neutral;
    }

    &.form-error {
      border-color: $color-red;
    }

    &.form-success {
      border-color: $color-green;
    }
  }

  textarea {
    padding-top: 8px;
    resize: none;
  }

  &.form-valid {
    button[type="submit"] {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M10 18.334c4.584 0 8.334-3.75 8.334-8.334S14.584 1.667 10 1.667 1.667 5.417 1.667 10s3.75 8.334 8.333 8.334'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6.458 10 2.358 2.358 4.725-4.716'/%3E%3C/svg%3E");

      .form-submit-text {
        opacity: 0;
      }
    }
  }
}