@use '../base/var' as *;
@use '../base/breakpoints' as *;


/* ===== FORMS ===== */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  &-group {
    width: 100%;
    &::after {@include clearfix;}
  }

  &-half {
    flex-basis: calc(50% - 8px)
  }

  &-control {
    width: 100%;
    padding: 11px;
    border: 1px solid $color-charcoal-light;
    border-radius: 8px;
    font-size: 15px;
    line-height: 16px;
    color: $color-dark;
    background: $color-white;
    outline: none;
    transition: border-color $effect;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    &::placeholder {
      color: $color-charcoal-gray;
      opacity: 1;
      transition: opacity $effect;
      @include user-select;
    }

    &:focus {
      border-color: $color-blue;
      &::placeholder {opacity: 0;}
    }

    &[disabled] {
      border-color: $color-mist;
      background: $color-neutral;
    }
  }

  textarea {
    resize: none;
  }
}