@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== HELPFUL ===== */
.helpful {
  margin: 0;
  display: flex;
  gap: 16px;
  font-size: 18px;
  line-height: 28px;
  color: $color-charcoal-gray;

  em {
    font-style: normal;
    display: block;
  }

  svg {
    display: block;
    position: relative;

    &:nth-child(2) {
      display: none;
    }
  }

  a {
    display: block;
    transition: transform $effect;
    outline: none;

    &.active svg {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  &-down {
    svg {
      transform: rotate(180deg);
    }
  }
}