@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== HELPFUL ===== */
.helpful {
  margin: 0;
  display: flex;
  gap: 16px;
  font-size: 18px;
  line-height: 28px;
  color: $color-charcoal-gray;
  @include media-breakpoint-up(md) {
    /*
    font-size: 24px;
    line-height: 32px;
     */
  }

  em {
    font-style: normal;
    display: block;
  }

  a {
    display: block;
  }

  svg {
    display: block;
  }
}