@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== HELPFUL ===== */
.helpful {
  margin: 0;
  display: flex;
  gap: 16px;
  font-size: 18px;
  line-height: 28px;
  color: $color-charcoal-gray;

  em {
    font-style: normal;
    display: block;
  }

  a {
    display: block;
    outline: none;

    @media (hover: hover) {
      &:hover, &:focus {
        svg {
          transform: translateY(-3px);
        }
      }
    }
  }

  svg {
    display: block;
    transition: transform $effect;
  }
}