@use '../var' as *;
@use '../breakpoints' as *;


/* ===== INDEX ===== */
.index {
  padding: 20px 28px 29px 28px;
  margin-top: -20px;
  @include media-breakpoint-down(xss) {
    padding-right: 14px;
    padding-left: 14px;
  }

  &__image {
    margin: 0 -28px;
    display: block;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(xss) {
      margin-right: -14px;
      margin-left: -14px;
    }

    img {
      width: 100%;
      height: 516px;
      display: block;
      object-fit: cover;
      @include user-select;
    }
  }

  &__content {
    padding: 22px 18px;
    margin-top: -191px;
    position: relative;
    z-index: 2;
    border-radius: 40px;
    font-size: 18px;
    color: black;
    background: $color-green;
    @include media-breakpoint-down(xss) {
      font-size: 16px;
      h2, .h2 {font-size: 26px;}
    }

    p:last-of-type {margin-bottom: 0;}

    .btn {
      margin-top: 15px;
    }
  }

  &__badge {
    position: absolute;
    top: -100px;
    right: -28px;
    z-index: 3;
    @include media-breakpoint-down(xss) {
      right: -14px;
    }

    img {
      width: 116px;
      height: 116px;
      display: block;
      @include user-select;
    }
  }

  &__heading {
    margin-bottom: 5px;
  }
}
