@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== META ===== */
.meta {
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 20px;
    position: sticky;
    top: 82px;
    background: white;
  }

  &-columns {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      gap: 32px 16px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 24px;
      flex-wrap: wrap;

      .meta-item {
        margin-bottom: 0;
        flex: 0 0 calc(50% - 10px);
      }
    }
  }

  &-item {
    margin-bottom: 24px;
    color: $color-dark;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 1.5;
    }

    strong {
      margin-bottom: 12px;
      display: block;
      font-weight: normal;
      text-transform: uppercase;
      color: $color-gray;
      cursor: default;
    }

    .social {
      margin-top: 16px;
    }
  }

  & > &-item:last-child {
    margin-bottom: 0;
  }

  &-tags {
    padding: 0 0 8px;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .001em;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 4px;
    @include media-breakpoint-up(xl) {
      gap: 4px;
    }

    li {
      padding: 6px 12px;
      border-radius: 40px;
      display: block;
      color: $color-darker;
      white-space: nowrap;
      background-color: $color-mist;
      cursor: default;
    }
  }

  &-links {
    padding: 0;
    margin: -8px 0 -12px;
    list-style: none;
    @include media-breakpoint-up(md) {
      margin-bottom: -4px;
    }

    li {
      padding: 12px 0;

      & + li {
        box-shadow: 0 -1px 0 0 $color-mist;
      }
    }

    a {
      display: block;
      color: $color-gray;
      text-decoration: none;
      outline: none;
      @media (hover: hover) {
        &:hover {
          color: $color-dark;
        }
      }

      &:focus, &:active {
        color: $color-dark;
      }
    }

    li.active a {
      color: $color-dark;
    }
  }
}