@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== FOOTER ===== */
.footer {
  padding: 28px 0;
  margin-top: auto;
  background-color: $color-neutral;

  .container {
    position: relative;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0 40px;
    }
    @include media-breakpoint-down(xl) {
      max-width: 1224px;
      padding-right: 32px;
      padding-left: 32px;
    }
    @include media-breakpoint-down(xss) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__logo {
    margin: 0 0 19px;
    @include media-breakpoint-up(md) {
      margin: 0;
    }

    img {
      width: 126px;
      height: 50px;
      display: block;
      @include user-select;
      @include user-drag;
    }
  }

  &__download {
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      right: 32px;
      z-index: 10;
    }
    @include media-breakpoint-down(xss) {
      right: 16px;
    }

    a {
      display: block;
    }

    img {
      width: 120px;
      height: 40px;
      display: block;
      @include user-drag;
      @include user-select;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    margin: 28px 0;
    border: none;
    background-color: $color-charcoal-light;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(lg) {
      margin-top: 27px;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    @include media-breakpoint-up(md) {
      margin-left: auto;
      display: flex;
      gap: 41px;
    }

    li {
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }

      a {
        color: $color-charcoal-blue;
        text-decoration: none;
        outline: none;
        @media (hover: hover) {
          &:hover, &:focus {
            color: $color-darker;
          }
        }
      }
    }
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-charcoal-gray;
  }

  &__links {
    margin: 20px 0 0;
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 53px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: auto;
      white-space: nowrap;
    }

    li {

      a {
        color: $color-charcoal-gray;
        text-decoration: none;
        outline: none;
        @media (hover: hover) {
          &:hover, &:focus {
            color: $color-charcoal-blue;
          }
        }
      }
    }
  }
}